app-player {
    width: 100%;
}

.player-btn {
    text-align: center;

    svg {
        height: 400px;
        cursor: pointer;
    
        .playing {
            stroke: orange;
        }
    
        .paused {
            stroke: grey;
        }
    }
}

