.player-btn-parent {
    text-align: center;

    svg {
        height: 100px;
        cursor: pointer;
    
        .playing {
            stroke: orange;
        }
    
        .paused {
            stroke: grey;
        }
    }
}

