.player-display {
    text-align: center;
    // font-weight: bold;
  }

  .now-playing {
    color: #555;
  }

  .next-up {
    color: #aaa;
  }


h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0px;
}