<section class="player-display">
    @if (isLoaded) {
    <div class="row">
        <div class="col now-playing">
            <h3>Now</h3>
            <div class="row">
                <div class="col-12 col-md-2 song-art">
                    <img [ngSrc]="nowPlayingImage" [alt]="stationData.now_playing.song.title" width="390" height="390" priority />
                </div>
                <div class="col song-details">
                    <p>
                        {{ stationData.now_playing.song.title }} <br />
                        @if (nowPlayingDjUrl) {
                        <a [href]="nowPlayingDjUrl" target="_blank">{{ stationData.now_playing.song.artist }}</a>
                        }
                        @else {
                        {{ stationData.now_playing.song.artist }}
                        } <br />
                        {{ elapsedTimeDisplay }} / {{ durationDisplay }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col next-up">
            <h3>Next</h3>
            <div class="row">
                <div class="col-12 col-md-2 song-art">
                    <img [ngSrc]="nextPlayingImage" [alt]="stationData.playing_next.song.title" height="200" width="200" />
                </div>
                <div class="col song-details">
                    <p>
                        {{ stationData.playing_next.song.title }} <br />
                        @if (nextDjUrl) {
                        <a [href]="nextDjUrl" target="_blank">{{ stationData.playing_next.song.artist }}</a>
                        }
                        @else {
                        {{ stationData.playing_next.song.artist }}
                        }
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    }
</section>