.player-display {
    
    .now-playing {
        color: #555;
    }

    .next-up {
        color: #aaa;

        img {
            opacity: 0.5;
        }
    }


    h3 {
        font-size: 1.2em;
        margin-bottom: 0.2em;
    }

    .song-details {
        padding-left: 0.8em;
    }
}