.player-display {
    
    .song-art {
    }

    .now-playing {
        color: #555;
    }

    .next-up {
        color: #aaa;

        img {
            opacity: 0.5;
        }
    }


    h3 {
        font-size: 1.3em;
        //font-weight: bold;
        margin-bottom: 0.2em;
    }

    .song-details {
        padding-left: 0.2em;
    }
}