<section class="player-display">
    @if (isLoaded) {
    <div class="row">
        <div class="col now-playing">
            <h3>Now</h3>
            <div class="row">
                <div class="col-3 song-art">
                    <img [src]="nowPlayingImage" height="65" width="65" alt="dsd" />
                </div>
                <div class="col">
                    <p>
                        {{ nowPlayingData.now_playing.song.title }} <br />
                        @if (nowPlayingDjUrl) {
                        <a [href]="nowPlayingDjUrl" target="_blank">{{ nowPlayingData.now_playing.song.artist }}</a>
                        }
                        @else {
                        {{ nowPlayingData.now_playing.song.artist }}
                        } <br />
                        {{ elapsedTimeDisplay }} / {{ durationDisplay }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col next-up">
            <h3>Next</h3>
            <div class="row">
                <div class="col-3 song-art">
                    <img [src]="nextPlayingImage" height="65" width="65" alt="dsd" />
                </div>
                <div class="col">
                    <p>
                        {{ nowPlayingData.playing_next.song.title }} <br />
                        @if (nextDjUrl) {
                        <a [href]="nextDjUrl" target="_blank">{{ nowPlayingData.playing_next.song.artist }}</a>
                        }
                        @else {
                        {{ nowPlayingData.playing_next.song.artist }}
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
    }
</section>